GPATH
GRTAGS
GSYMS
GTAGS
tags
src/cscope.files
src/cscope.out
src/ID
build/*
data/*
# unignore /build/ dir in third_party
!/build
.svn
~*
*~
*-
*.swp
*.swo
*.o
*.la
*.lo
*.so
*.tmp

.cproject
.externalToolBuilders
.project
.settings
src/Makefile

LinLogLayout/*
